main {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-image: url(../images/bg.jpg);
    background-size: cover;
    min-width: 100vh;
    align-items: center;
    justify-content: center;
    padding: 2rem 2rem 5rem;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 1.3rem;
    width: 100%;
    max-width: 80rem;
    padding: 2rem;
    margin: 0 0 1rem;
    border-radius: .5rem;
}


.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1.2rem;
    width: 100%;
    max-width: 80rem;
    margin: 0 auto;
}

.card {
    aspect-ratio: 5/4.6;
    width: 100%;
    border-radius: .5rem;
    position: relative;
    transition: all 400ms ease;
    transform-style: preserve-3d;
    background-color: #ccc;
}

.face {
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
    border: .2rem solid #39813a;
    border-radius: .5rem;
    transition: all 400ms ease;
}

.front {
    transform: rotateY(180deg);
}

.back {
    background-image: url(../images/back.png);
    backface-visibility: hidden;
}

.reveal-card {
    transform: rotateY(180deg);
}

.disabled-card {
    filter: saturate(0);
    opacity: 0.5;
}

@media(max-width: 450px) {

    main {
        width: 100vw;
        height: 100vh;
    }
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: rgba(255, 255, 255, 0.8);
        font-size: 1rem;
        width: 60%;
        max-width: 80rem;
        padding: 1.2rem;
        margin-right: 16rem;
        border-radius: .5rem;
    }
    
    .grid {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 1.2rem;
        width: 60%;
        max-width: 50rem;
        margin: 0 auto;
    }
    
    .card {
        aspect-ratio: 3/4;
        width: 100%;
        border-radius: .5rem;
        position: relative;
        right: 8rem;
        transition: all 400ms ease;
        transform-style: preserve-3d;
        background-color: #ccc;
    }
    
    .face {
        width: 100%;
        height: 100%;
        position: absolute;
        background-size: cover;
        background-position: center;
        border: .2rem solid #39813a;
        border-radius: .5rem;
        transition: all 400ms ease;
    }
    
    }

